:host {
  font-family: sans-serif;
  border: 4px solid purple;
  padding: 1rem;
  width: 100%;
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
}
.show-places {
  display: none;
}
.output {
  margin: 5px 0;
  padding: 5px;

  border: 2px solid #ccc;
}
form input {
  font: inherit;
  color: var(purple, black);
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid purple;
  background: purple;
  color: white;
  cursor: pointer;
}

form button:hover,
form button:active {
  background: purple;
  border-color: purple;
}

form button:disabled {
  background: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

li:hover,
li:active {
  background: purple;
  color: white;
}
